.main-body{
    width: 100%;
    height: 70vh;
    bottom: 20px;
}
.main-body-image{
     border-radius: 10px;
overflow: hidden;
    position: absolute;
    width: 93vw;
    height: 29vw;
    margin: 2vw 7vh;
   
    
}
.mov{
position: relative;
display: flex;
animation: an 15s linear infinite;
}
.mov img{
    height: 450px;
    transition: transform .2s;

}
.mov img:hover{
    transform: scale(1.01); 
}
@keyframes an{
    0%{left: 0;}
    30%{left: 0;}
    35%{left: -1460px;}
    70%{left: -1460px;}
    75%{left: -2900px;}
    100%{left: -2900px;}
    
}